<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2555ee8b-f105-45f0-a157-ac590b6136ce/resourceGroups/WebApplication120190126091827ResourceGroup/providers/Microsoft.Web/sites/LOGINTESTAC</ResourceId>
    <ResourceGroup>WebApplication120190126091827ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://logintestac.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>logintestac.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LOGINTESTAC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LOGINTESTAC</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Test_redips_jsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kevinlai.database.windows.net,1433;Initial Catalog=kevindb;Persist Security Info=False;User ID=kfklaihk;Password=Kev07117_;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:kevinlai.database.windows.net,1433;Initial Catalog=kevindb;Persist Security Info=False;User ID=kfklaihk;Password=Kev07117_;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Test_redips_js.Models.Test_redips_jsContext, Test_redips_js" MigrationConfiguration="Test_redips_js.Migrations.Configuration, Test_redips_js" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Test_redips_jsContext-Web.config Connection String">
      <ParameterValue>Server=tcp:kevinlai.database.windows.net,1433;Initial Catalog=kevindb;Persist Security Info=False;User ID=kfklaihk;Password=xxxxxxx;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>
